<main class='container d-flex justify-content-center align-items-center'>
  <div class='p-4 shadow-lg rounded bg-white'>
    <h1 class='text-center fw-bold p-5'>
      <%= @myUser.name %>'s Shop Inventory
    </h1>
    <% if (@soldRecord.empty?)%>
      <h1 class='text-center'>No Item</h1>
    <% else %>
      <table id="table" class="stripe" >
        <thead class='bg-dark text-light'>
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @soldRecord.each do |r| %>
            <tr>
              <td>
                <% if(r.item.picture.attached?)%>
                  <%= image_tag r.item.picture.variant(:thumb) %>
                <% else %>
                  <p>No Picture</p>
                <% end %>
              </td>
              <td> <%= r.item.name %> </td>
              <td> <%= r.item.category %></td>
              <td> <%= r.price %> </td>
              <td> <%= r.stock %> </td>
              <td>
                <% if Item.find(r.item_id).enable? %>
                  <p class='text-success'>Enable</p>
                <% else %>
                  <p class='text-danger'>Disable</p>
                <% end %>
              </td>
              <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                  Edit
                </button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                  Delete
                </button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%end%>
    <%# <%= link_to 'Add Item to Market', new_market_path ,class:'btn btn-success'%>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
      Add Item to Market
    </button>
  </div>
  <%= render '/my_inventory/addModal'%>
</main>
<script>
  $(document).ready(function() {
    $("#table").DataTable();
  });
</script>
