<div class='container d-flex justify-content-center align-items-center'>
  <div class='p-4 shadow-lg rounded bg-white'>
    <h1 class='text-center fw-bold p-2'>My Inventory</h1>
    <% if (@soldRecord.empty?)%>
      <h1>No Item</h1>
    <% else %>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
          </tr>
        </thead>
        <tbody>
          <% @soldRecord.each do |r| %>
            <tr>
              <td>
                <% if(r.item.picture.attached?)%>
                  <%= image_tag r.item.picture.variant(:thumb) %>
                <% else %>
                  <p>No Picture</p>
                <% end %>
              </td>
              <td> <%= r.item.name %> </td>
              <td> <%= r.item.category %></td>
              <td> <%= r.price %> </td>
              <td> <%= r.stock %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%end%>
  </div>
</div>
