<div class='container d-flex justify-content-center align-items-center'>
  <div class='p-4 shadow-lg rounded bg-white'>
    <h1 class='text-center fw-bold p-5'>
      <%= @myUser.name %>'s Purchase History
    </h1>
    <% if (@buyhistory.empty?)%>
      <h1 class='text-center'>No Item</h1>
    <% else %>
      <table id="table" class="stripe" >
        <thead class='bg-dark text-light'>
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Seller</th>
          </tr>
        </thead>
        <tbody>
          <% @buyhistory.each do |r| %>
            <tr>
              <td>
                <% if(r.item.picture.attached?)%>
                  <%= image_tag r.item.picture.variant(:thumb) %>
                <% else %>
                  <p>No Picture</p>
                <% end %>
              </td>
              <td> <%= r.item.name %> </td>
              <td> <%= r.item.category %></td>
              <td> <%= r.price %> </td>
              <td> <%= r.qty %> </td>
              <td> <%= r.seller.name %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%end%>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#table").DataTable();
  });
</script>
