<div class='container d-flex justify-content-center align-items-center'>
  <div class='p-4 shadow-lg rounded bg-white'>
    <h1 class='text-center fw-bold p-5'>Market</h1>
    <% if (@onlyEnableItemInMarket.empty?)%>
      <h1 class='text-center'>No Item</h1>
    <% else %>
      <table id="table" class="stripe">
        <thead class='bg-dark text-light'>
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Seller</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @onlyEnableItemInMarket.each do |m| %>
            <tr>
              <td>
                <% if(m.item.picture.attached?)%>
                  <%= image_tag m.item.picture.variant(:thumb) %>
                <% else %>
                  <p>No Picture</p>
                <% end %>
              </td>
              <td> <%= m.item.name %> </td>
              <td> <%= m.item.category %></td>
              <td> <%= m.price %> </td>
              <td> <%= m.stock %> </td>
              <td> <%= User.find(m.user_id).name %> </td>
              <td>
                <%= form_with url:my_market_buyItem_path,method: :post,class:'d-flex gap-2 input-small' do |f| %>
                  <%= f.hidden_field :market_id ,value: m.id %>
                  <%= f.hidden_field :user_id ,value: m.user_id %>
                  <%= f.hidden_field :item_id ,value: m.item_id %>
                  <%= f.number_field :amount ,required:true, value:1, class: 'form-control' %>
                  <%= f.submit "Buy", class: "btn btn-primary" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%end%>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#table").DataTable();
  });
</script>
