<div class='container d-flex justify-content-center align-items-center'>
  <%= form_with(model: market,class:"form d-flex flex-column border p-4 shadow-lg rounded bg-white justify-content-center gap-3") do |form|%>
    <% if market.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(market.errors.count, "error") %> prohibited this market from being saved:</h2>
        <ul>
          <% market.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.hidden_field :lock_version %>
    <% if session[:role]=='admin'%>
      <div>
        <%= form.label :user_id, style: "display: block" ,class:'form-label'%>
        <%= form.select :user_id, User.all.map { |u| [User.find(u.id).name,u.id] } ,{},{class:'form-control'}%>
      </div>
      <div>
        <%= form.label :item_id, style: "display: block" ,class:'form-label'%>
        <%= form.select :item_id, Item.all.map { |i| [Item.find(i.id).name,i.id] } ,{},{class:'form-control'}%>
      </div>
    <%end%>
    <% if session[:role]=='seller'%>
      <div>
        <%= form.label :user_id, style: "display: block" ,class:'form-label'%>
        <%= form.select :user_id, [[User.find(session[:current_user_id]).name,session[:current_user_id]]] ,{},{class:'form-control'}%>
      </div>
      <div>
        <%= form.label :item_id, style: "display: block" ,class:'form-label'%>
        <%= form.select :item_id, [[@market.item.name,@market.item_id]] ,{},{class:'form-control'}%>
      </div>
    <%end%>
    <div>
      <%= form.label :price, style: "display: block" ,class:'form-label'%>
      <%= form.text_field :price ,class:'form-control'%>
    </div>
    <div>
      <%= form.label :stock, style: "display: block" ,class:'form-label'%>
      <%= form.number_field :stock ,class:'form-control'%>
    </div>
    <div>
      <%= form.submit class:'btn btn-primary'%>
    </div>
  <% end %>
</div>
