<p style="color: green"><%= notice %></p>
<%= render @market %>
<div>
  <%= link_to "Edit this market", edit_market_path(@market) ,class:'btn btn-primary' %> |
  <%= link_to "Back to markets", markets_path ,class:'btn btn-primary' %>
  <%= button_to "Destroy this market", @market, method: :delete ,class:'btn btn-danger mt-4' %>
</div>
